@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Colours light bg: #57bc90 Dark BG img colour:#0F1626  */

html {
    zoom: 125%;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-image: url(Images/background.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */
.banner {
    z-index: 2;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(100px);
}

.banner .logo {
    display: flex;
    align-items: center;
}

.banner .logo img {
    max-height: 32px;
    max-width: 32px;
}

.banner nav ul {
    display: flex;
    justify-content: center;
    margin: 0px 60px;
}


.banner nav ul li {
    list-style: none;
    padding: 20px
}

.banner nav ul li a {
    text-decoration: none;
    color: white;
}

.navCV {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* About */
#aboutSection {
    margin-top: 100px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    height: 90%;
    width: 50%;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    border: 0.25px black solid;
    overflow: hidden;
    /* background-image: url(Images/background2.jpg); */
    background-color: #286d5d;
}

.about .text {
    padding: 0px 15px;
}

.about .text h2 {
    padding: 10px 0px;
}

.about .aboutHeading {
    font-size: 4rem;
    display: flex;
    justify-content: center;

}

/* Skills */
#skillsHeader {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#skillsTitle {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 0%;
    opacity: 0.9;
    letter-spacing: 2px;
    font-size: 30px;
}

/*? CREATE SKILLS GRID  */
#skillsSection {
    height: 500px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: grid;
    width: 40%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*? General Grid Items */
.gridItem {
    z-index: 0;
    /* Stops navbar going behind */
    /* Positioning */
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 85%;
    /* Styling */
    border-radius: 10px;
    font-size: 90px;
    color: #286d5d;
    background-color: rgba(10, 55, 65, 1);
    /* Animations */
    transform: translate(0px, 0px);
    transition: 0.35s all ease;
}

.gridItem:hover {
    /* Positioning */
    height: 100%;
    width: 100%;
    margin: 0px;
    /* Styling */
    color: white;
    background-color: #286d5d;
}

/*? Grid Icons */
.gridItem>i {
    /* Positioning - Sets starting position for icons */
    transition: 0.35s all ease;
    position: relative;
    transform: translate(0px, 0px);
}

.gridItem:hover>i {
    /* Positioning - Sets hover over position for icons */
    position: absolute;
    transform: scale(0.5) translate(0px, -100px);
}

/*? Grid Text  */
.skillTxt {
    /* Positioning */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    transition: 0.35s all ease;
}

/*? Grid Headings  */
.skillTxt>h6 {
    /* Positioning */
    text-align: center;
    justify-self: center;
    position: relative;
    margin: 0px 10px;
    /* Styling */
    font-size: 20px;
    display: none;
    /* Hides txt until hover */
}

.gridItem:hover>.skillTxt>h6 {
    /* Show Text */
    display: block;
}

#sqlTxt>h6 {
    /* Multiple headings so needed smaller text */
    font-size: 14px;
}

/*?Grid Paragraphs  */
.skillTxt>p {
    /* Positioning */
    justify-self: center;
    align-self: end;
    position: relative;
    padding: 0px 15px;
    height: 80px;
    /* Styling */
    font-size: 12px;
    display: none;
    /* Hides txt until hover  */
}

.gridItem:hover>.skillTxt>p {
    /* Show txt */
    display: block;
}

/*? Projects */
.projects {
    display: grid;
    height: 500px;
    width: auto;
}

.projects .card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects .card_container .card {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: #286d5d;
    width: 25%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px black solid;
    font-size: 15px;
}

.projects .card_container .card h2 {
    font-size: 25px;
}

.projects .card_container .card .desc {
    padding: 0px 15px;
    font-size: 13px;
}

.projects .card_container .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects .card_container .card .text {
    text-align: center;
    border-top: 2px black solid;
}

/* FOOTER */
.footer {
    height: 25px;
    position: sticky;
    /* background-color: black; */
    bottom: 0px;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 100%;
    z-index: -1;
    background-color: #8094c261;
    margin: 0px;
}