@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Colours light bg: #57bc90 Dark BG img colour:#0F1626  */

* {
    font-family: 'Nunito', sans-serif;

    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/background.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
}

/* NAVBAR */
.banner {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(100px);
}

.banner .logo {
    display: flex;
    align-items: center;
}

.banner .logo img {
    max-height: 32px;
    max-width: 32px;
}

.banner nav ul {
    display: flex;
    justify-content: center;
    margin: 0px 60px;
}


.banner nav ul li {
    list-style: none;
    padding: 20px
}

.banner nav ul li a {
    text-decoration: none;
    color: white;
}

.mode_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* About */
#aboutSection {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    height: 90%;
    width: 50%;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    border: 2px black solid;
    overflow: hidden;
    /* background-image: url(Images/background2.jpg); */
    background-color: hsla(149, 40%, 49%, 0.6);
}

.about .text {
    padding: 0px 15px;
}

.about .text h2 {
    padding: 10px 0px;
}

.about .cv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 50px;

}

.about .cv form {
    width: 25%;
}

.about .cv .container {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    /* background-color: hsla(135, 90%, 40%, 0.6); */
    background-color: #49f19ace;
    border-radius: 5px;
    border: 1px black solid;
    justify-content: center;
    padding: 2px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.about .aboutHeading {
    font-size: 4rem;
    display: flex;
    justify-content: center;

}

/* Skills */
#skillsSection {
    height: 500px;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: grid;
    width: 40%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gridItem {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    height: 90%;
    width: 90%;
    background-color: #A3BBAD;
}

#htmlBubble,
#pythonBubble,
#mongoBubble {
    justify-self: end;
}

#jsBubble,
#sqlBubble,
#githubBubble {
    justify-self: start;
}

/* Projects */
.projects {
    display: grid;
    height: 500px;
    width: auto;
}

.projects .card_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects .card_container .card {
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: #A3BBAD;
    width: 25%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px black solid;
}

.projects .card_container .card .image img {
    height: 100%;
    width: 100%;
}

.projects .card_container .card .text {
    text-align: center;
    border-top: 2px black solid;
}

/* FOOTER */
.footer {
    height: 25px;
    position: sticky;
    /* background-color: black; */
    bottom: 0px;
}

.ball {
    position:absolute;
    border-radius:100%;
    opacity: 60%;
    z-index: -1;
    background-color: #A3BBAD;
}