@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@100;200;300;400;500;600;700&display=swap');

/*? Colours */
/* Card colours: #286d5d */
/* Word Colours: white */
/* Skills BG colours: rgba(10, 55, 65) */
html {
    zoom: 125%;
    scroll-behavior: smooth;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-image: url(Images/background.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */
.banner {
    width: 100%;
    z-index: 2;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(25px) opacity(100%) contrast(90%);
}

.banner .logo {
    display: flex;
    align-items: center;
}

.banner .logo img {
    max-height: 32px;
    max-width: 32px;
}

.banner nav ul {
    display: flex;
    justify-content: center;
    margin: 0px 60px;
}


.banner nav ul li {
    list-style: none;
    padding: 20px;

}

.banner nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: Chakra Petch;
}

.navCV {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Header */
@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);

        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#headerSection {
    margin-top: 200px;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.headerTxt {
    width: 50%;
    text-align: center;
}

.headerTxt>.heading {
    margin-bottom: 5px;
    font-size: 90px;
    word-spacing: 15px;
    letter-spacing: 5px;
    font-family: Chakra;
    font-style: italic;
    animation: fade-in-top 1.5s ease-out both;
}

.fontChange {
    font-size: 130px;
    font-family: Chakra;
    font-style: normal;
    font-weight: bold;
}

.headerTxt>.headingAbout {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Chakra Petch;
    animation: fade-in-bottom 1.5s ease-out 1s both;
    margin-bottom: 10px;
}

.headerTxt>.headingIcons {
    display: flex;
    justify-self: center;
    justify-content: center;
}

.headerTxt>.headingIcons>.iconLinks {
    animation: fade-in-bottom 1.5s 1.75s ease-out both;
    margin: 0px 5px;
    height: 60px;
    width: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.25);
    font-size: 50px;
    transition: color 0.5s ease;
}

.headerTxt>.headingIcons>.iconLinks:hover {
    color: white;
}

/* About */
#aboutSection {
    margin-top: 180px;
    margin-bottom: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-in-elliptic-bottom-fwd {
    0% {
        transform: translateY(600px) rotateX(30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% -1400px;
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .about-animation {
        animation: slide-in-elliptic-bottom-fwd 1.5s 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 60%;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    overflow: hidden;
    /* background-image: url(Images/background2.jpg); */
    background-color: #286d5d;
    box-shadow: 0 0 20px 1px #286d5d;
}

.about .text {
    height:100%;
    padding: 25px;
    font-weight: 200;
    align-self: center;
}

.about .text h2 {
    padding: 10px 0px;
    font-size: 2.2em;
    font-family: Chakra Petch;
    font-weight: 500;
}

.aboutHighlight {
    font-style: italic;
    font-weight: 700;
    font-family: Chakra Petch;
}

.about>.portrait {
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px 2px #fff;
}

.about>.portrait>img {
    position: absolute;
    top: -245px;
    left: -30px;
    zoom: 25%;
}

/* Skills */
@keyframes puff-in {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .skills-animation {
        animation: puff-in 1s;

    }
}

#skillsHeader {
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#skillsTitle {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 0%;
    letter-spacing: 5px;
    font-size: 30px;
}

#skillsTitle>h2 {
    font-family: Chakra Petch;
    font-weight: 400;
}

/*? CREATE SKILLS GRID  */
#skillsSection {
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: grid;
    width: 40%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*? General Grid Items */
.gridItem {
    z-index: 0;
    /* Stops navbar going behind */
    /* Positioning */
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 85%;
    /* Styling */
    border-radius: 10px;
    font-size: 90px;
    color: #286d5d;
    background-color: rgba(10, 55, 65);
    /* Animations */
    transform: translate(0px, 0px);
    transition: 0.35s all ease;
}

.gridItem:hover {
    /* Positioning */
    height: 100%;
    width: 100%;
    margin: 0px;
    /* Styling */
    color: white;
    background-color: #286d5d;
}

/*? Grid Icons */
.gridItem>i {
    /* Positioning - Sets starting position for icons */
    transition: 0.35s all ease;
    position: relative;
    transform: translate(0px, 0px);
}

.gridItem:hover>i {
    /* Positioning - Sets hover over position for icons */
    position: absolute;
    transform: scale(0.5) translate(0px, -100px);
}

/*? Grid Text  */
.skillTxt {
    /* Positioning */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    transition: 0.35s all ease;
}

/*? Grid Headings  */
.skillTxt>h6 {
    /* Positioning */
    text-align: center;
    justify-self: center;
    position: relative;
    margin: 0px 10px;
    /* Styling */
    font-family: Chakra Petch;
    font-size: 20px;
    font-weight: 300;
    display: none;
    /* Hides txt until hover */
}

.gridItem:hover>.skillTxt>h6 {
    /* Show Text */
    display: block;
}

#sqlTxt>h6 {
    /* Multiple headings so needed smaller text */
    font-size: 14px;

}

/*?Grid Paragraphs  */
.skillTxt>p {
    /* Positioning */
    justify-self: center;
    align-self: end;
    position: relative;
    padding: 0px 15px;
    height: 80px;
    /* Styling */
    font-size: 11px;
    font-weight: 100;
    display: none;
    /* Hides txt until hover  */
}

.gridItem:hover>.skillTxt>p {
    /* Show txt */
    display: block;
}

/*? Projects */
/* Projects Title section */
#projectsHeader {
    width: 100%;
    margin-top: 180px;
    margin-bottom: 30px;
    padding-left: 100px;
}

#projectsTitle {
    font-family: Chakra Petch;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 40px;
    padding-bottom: 10px;
}

#projectsSubtitle {
    font-family: Chakra Petch;
    font-weight: 100;
    letter-spacing: 2px;
    display: block;
}

/*? Project cards */
/* Keyframes */
@keyframes card1-animation {
    0% {
        transform: translateX(-1000px);
        filter: blur(5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes card2-animation {
    0% {
        transform: translateY(1000px);
        filter: blur(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes card3-animation {
    0% {
        transform: translateX(1000px);
        filter: blur(5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
    .card1-animation {
        animation: card1-animation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

@media (prefers-reduced-motion: no-preference) {
    .card2-animation {
        animation: card2-animation 1s 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

@media (prefers-reduced-motion: no-preference) {
    .card3-animation {
        animation: card3-animation 1s 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

#projectSection {
    display: flex;
    height: 500px;
    width: 100%;
    margin-bottom: 150px;
    justify-content: space-evenly;
    align-items: center;
}

#projectSection>.card {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: #286d5d;
    width: 25%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 15px;
    box-shadow: rgb(40, 109, 93, 0.7) 0px 0px 20px 5px;
    transition: all 0.5s ease;

}

#projectSection>.card:hover {
    height: 520px;
    box-shadow: rgb(40, 109, 93, 1) 0px 0px 20px 5px;
    filter: brightness(1.05);
}

#projectSection>.card>.image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#projectSection>.card>.text {
    padding: 10px;
    text-align: center;
    border-top: 1px black solid;
    font-weight: 100;
}

#projectSection>.card>.text>h5 {
    font-weight: 500;
    font-size: 25px;
    font-family: Chakra Petch;
}

#projectSection>.card>.text>.details {
    font-style: italic;
    font-weight: 400;
    font-family: Chakra Petch;
    font-size:15px;
}

#projectSection>.card>.text>.desc {
    font-weight: 200;
    font-size: 13px;
}


/*? Contact */
.contactSection {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}

.contactSection>#contactHello {
    font-size: 2.5rem;
    font-family: Chakra Petch;
    margin-right: 250px;
    font-weight: 300;
}

.contactSection>#contactEmail {
    border-radius: 15px;
    height: 40px;
    width: 120px;
    color: #286d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    box-shadow: 0 0 20px 5px #286d5d;
    transition-property: background-color, border-color, color, box-shadow, transform;
    transition-duration: .3s;
    border: 2px solid #286d5d;
}

.contactSection>#contactEmail:hover {
    background-color: #286d5d;
    color: white;
    transform: scale(0.95);
    box-shadow: 0 0 20px 5px #286d5d;
}


/*? FOOTER */
.footerSection {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 25px;
    height: 50px;
    /* background-color: black; */
    bottom: 0px;
}

.footerSection>#footerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    font-size: 25px;
}

.footerSection>#footerContact>h6 {
    font-weight: 100;
    font-family: Chakra Petch;
    letter-spacing: 0.5px;
    font-style: italic;
}

.footerSection>#footerLinksBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSection>#footerLinksBox>.footerLinks {
    margin: 0px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.25);
    font-size: 30px;
    transition: color 0.5s ease;
}
.footerSection>#footerLinksBox>.footerLinks:hover {
    color: rgb(255, 255, 255, 1);
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 100%;
    z-index: -1;
    background-color: #8094c261;
    margin: 0px;
}
@media only screen and (max-width: 1800px) {
    #projectSection>.card>.text>h5 {
        font-size:20px;
    }
    #projectSection>.card>.text>.desc {
        font-size:11px;
    }
    #projectSection>.card>.text>.details {
        font-size:13px;
    }
}

@media only screen and (max-width:1500px) {
    .about .text h2 {
        font-size: 1.8em;
    }
    .about .text {
        font-size: 0.9em
    }
    .skillTxt > h6{
        font-size: 15px;
    }
    .skillTxt>p {
        font-size:10px;
    }
    #sqlTxt>h6 {
        font-size:12px;
    }
    #sqlTxt>p {
        font-size:9px;
    }
}
@media only screen and (max-width:1300px) {
    #projectSection>.card>.text>h5 {
        font-size:17px;
    }
    #projectSection>.card>.text>.desc {
        font-size:10px;
    }
    #projectSection>.card>.text>.details {
        font-size:13px;
    }
}
@media only screen and (max-width:1250px) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    }
    .skillTxt > h6{
        font-size: 13px;
    }
    .skillTxt>p {
        font-size:9px;
    }
    #sqlTxt>h6 {
        font-size:10px;
    }
    #sqlTxt>p {
        font-size:8px;
    }
}
@media only screen and (max-width:1100px){
    #projectSection>.card>.text>.desc {
        font-size:9px;
    }
    #projectSection>.card>.text>.details {
        font-size:11px;
    }
}

@media only screen and (max-width: 900px) {
    .banner > nav > #headerLink > ul {
        margin: 0px 0px;
        font-size:15px;
    }
    .banner .logo img {
        display:none;
    }
    .contactSection > #contactHello{
        margin-right:50px;
    }
}

@media only screen and (max-width: 700px) {
    .banner > nav > #headerLink > ul > li {
        padding: 20px 10px;
    }
    .about .text {
        font-size:12px;
    }
}

@media only screen and (max-width: 500px) {
    .banner > nav > #headerLink > ul {
        font-size:10px;
    }
}

